body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.box {
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

.main-text {
    margin-top: 350px;
}